---
import { type CollectionEntry, getCollection } from 'astro:content';
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout
  title={`${project.data.name} (Project)`}
  description={project.data.description}
>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { href: '/about', label: 'About', icon: 'lucide:info' },
        { label: project.data.name, icon: 'lucide:file-text' },
      ]}
    />

    <article class="prose prose-neutral max-w-none dark:prose-invert">
      <h1>{project.data.name}</h1>

      {
        project.data.image && (
          <img
            src={project.data.image.src}
            alt={project.data.name}
            class="mb-6 rounded-lg shadow-md"
          />
        )
      }

      <div class="mb-6">
        <h2>Description</h2>
        <p>{project.data.description}</p>
      </div>

      <div class="mb-6">
        <h2>Objective</h2>
        <p>{project.data.objective}</p>
      </div>

      <div class="mb-6">
        <h2>Deliverables</h2>
        <p>{project.data.deliverables}</p>
      </div>

      {
        project.data.tags && (
          <div class="mb-6">
            <h2>Technologies</h2>
            <ul>
              {project.data.tags.map((tag) => (
                <li>{tag}</li>
              ))}
            </ul>
          </div>
        )
      }

      {
        project.data.link && (
          <div class="mb-6">
            <h2>Project Link</h2>
            <a
              href={project.data.link}
              target="_blank"
              rel="noopener noreferrer"
            >
              {project.data.link}
            </a>
          </div>
        )
      }

      <div class="mb-6">
        <h2>Key Learnings</h2>
        <Content />
      </div>
    </article>
  </Container>
</Layout>
